<%- include('partials/header') %>

<main>

<h1><%= title %></h1>

<ul>

<% projects.forEach(project => { %>

    <li>

        <h2><%= project.name %></h2>

        <p><%= project.description %></p>

        <p><strong>Date:</strong> <%= project.date %></p>

        <p><strong>Location:</strong> <%= project.location %></p>

    </li>

<% }); %>

</ul>

</main>

<%- include('partials/footer') %>